a {
    text-decoration: none;
}

.box_for_three {
    max-width: 700px;
    display: flex;
    justify-content: space-around;
}

.content {
    max-width: 167px;
    margin: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    color: red;
    margin: 0;
}

.crossed {
    position: relative;
    color: black;
    font-size: 14px;
    font-weight: 100;
    vertical-align: middle;
    padding-bottom: 3px;
  }

.crossed:before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 100%;
    height: 70%;
    transform: rotate(-19deg);
  }

  .dev {
    background: yellow;
    font-size: 16px;
    padding: 5px;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .twelve {
    font-size: 12px;
    color: gray;
    font-weight: 100;
    margin: 0;
  }

  .best {
      color: orange;
      margin-top: 7px;
      margin-bottom: 0px;
  }

  .words {
      font-size: 14px;
      margin-top: 7px;
      margin-bottom: 7px;
      color: black;
  }

  .words:hover {
      color: rgb(26, 95, 246);
  }

  .buttons {

    margin-top: 50px;
  }

  .add_to_cart {
      background: rgb(26, 95, 246);
      border: 3px solid rgb(26, 95, 246);
      color: white;
      width: 96px;
      height: 32px;
      border-radius: 3px;
  }

  .points {
      background-color: lightgray;
      border: 3px solid lightgray;
      font-size: 14px;
      font-weight: bold;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      
  }

  .point {
      vertical-align: top;
  }